{% extends 'baseDashboard.html' %}
{% load static %}
{% block title %} | Produk {% endblock title %}

{% block sidebar %}
{% include "sidebarAdmin.html" %}
{% endblock sidebar %}



{% block body %}
<h1 class='h3 mt-4 text-gray-800'>Perbarui Data Produk</h1>

<div class="form-group p-5">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid"><button type="submit" class="btn btn-primary">Kirim</button>
    </div>
    
</form>
</div>
{% endblock body%}