{% extends 'baseDashboard.html' %}
{% load static %}
{% block title %} | Bengkel {% endblock title %}

{% block sidebar %}
{% include "sidebarAdmin.html" %}
{% endblock sidebar %}



{% block body %}
<h1 class='h3 mt-3 text-gray-800 text-center'>Bengkel {{ bengkel.name }} </h1>
<h3 class='h6 text-gray-400 text-center'>{{bengkel.address}} </h3>
<h3 class='h5 mt-3 text-gray-400'>Bos : {{bengkel.owner.name }} </h3>
<h6 class='btn btn-success btn-sm rounded-4'>WhatsApp : {{bengkel.owner.phone }} </h6>
<h6 class='btn btn-primary btn-sm rounded-4'>Telegram : {{bengkel.owner.telegram }} </h6>
{{ message }}
{% if message %}
<div class="alert alert-success text-center mx-auto" role="alert">
{{ message }}
</div>
{% endif %}

<h1 class='h3 mt-0 text-gray-800 text-center'>Pasokan</h1>
{% if stock %}
     <div class="row row-cols-1 row-cols-md-3 g-4">    
     {% for i in stock %}
     <div class="col">
     <div class="card shadow ">
          <img src="{{i.product.image.url}}" class="card-img-top mx-auto d-block mt-3 shadow-lg" style="width: 300px; height: 180px; object-fit: cover;">
          <div class="card-body">
               <h5 class="card-title text-center"><b>{{i.product.name}}</b></h5>
               <h6 class="text-sm-start">Dipasok oleh  {{i.product.supplier.name}}</h6>
               <h6 class='btn btn-dark btn-sm rounded-2'>Jumlah : {{i.stockCount}} </h6>
               <h6 class='btn  btn-sm rounded-2 {% if i.stockCount < i.minStock %}btn-danger {% else %}btn-secondary{% endif %}'>Minimum  : {{i.minStock}} </h6> 
               <p class='my-1'><b>Brand:</b> {{i.product.brand.name}}</p>
               <p class='my-1'><b>Kategori:</b> {{i.product.category.all|join:", " }}</p>
               <p class="my-1 card-text"><b>Deskripsi:</b> {{i.product.description}} </p>
               <p class='my-1 text-center'><b>Harga: {{i.product.price}}</b></p>
               <a class='btn btn-primary btn-sm rounded-2 d-grid' href=" {% url 'editBengkel' bengkel.id i.id %} ">Edit</a>
          </div>
     </div>
     </div>
     
     {% endfor %}
     </div>
{% else %}
     <h3 class='h6 text-gray-400 text-center mt-5'>Tidak ada pasokan</h3>
{% endif %}

{% endblock body%}