{% extends 'baseDashboard.html' %}
{% load static %}
{% block title %} | brand {% endblock title %}

{% block sidebar %}
{% include "sidebarAdmin.html" %}
{% endblock sidebar %}



{% block body %}

<h1 class='h3 mt-4 text-gray-800'>Data brand</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-dark rounded-3 btn-sm my-0" href=" {% url 'AddBrandView' %} ">Tambah data</a>
</div>
<table class="table table-striped table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">Nama</th>
      <th scope="col" class="text-center">Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for i in object_list %}
     <tr>
      <th scope="row">{{i.name}}</th>
      <td class="text-center">
          <a class="btn btn-dark shadow " href=" {% url 'UpdateBrandView'  i.id%} ">Edit</a>
          <a class="btn btn-danger shadow " href=" {% url 'DeleteBrandView' i.id %} ">Hapus</a>
     </td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock body%}