{% extends 'baseDashboard.html' %}
{% load static %}
{% block title %} | Brand {% endblock title %}

{% block sidebar %}
{% include "sidebarAdmin.html" %}
{% endblock sidebar %}



{% block body %}

<h1 class='h3 mt-4 text-gray-800'>Data Brand</h1>
<h4>Data : {{brand.name}} </h4>
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <strong> Yakin ingin menghapus data ini?</strong>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    </div>


{% endblock body%}