<!-- Nav Item - Bengkel -->
{% if user.role == "SV" %}
     <li class='nav-item'>
     <a class='nav-link' href="{% url 'bengkel' %}">
          <i class="bi bi-gear"></i>
          <span>Bengkel</span>
     </a>
     </li>

     <!-- Nav Item - SUPPLIER -->
     <li class='nav-item'>
          <a class='nav-link' href="{% url 'supplier' %}">
               <i class="bi bi-shop"></i>
               <span>Supplier</span>
          </a>
     </li>

     <!-- Nav Item - TRANSAKSI -->
     <li class='nav-item'>
          <a class='nav-link' href="{% url 'transaksi' %}">
               <i class="bi bi-bag"></i>
               <span>Transaksi</span>
          </a>
     </li>

     <!-- Nav Item - PENAWARAN -->
     <li class='nav-item'>
          <a class='nav-link' href="{% url 'penawaran' request.user.id %}">
               <i class="bi bi-chat-dots"></i>
               <span>Penawaran</span>
          </a>
     </li>


{% elif user.role == "LB" %}
     <!-- Nav Item - Bengkel -->
     <li class='nav-item'>
     <a class='nav-link' href="{% url 'bengkel' %} ">
          <i class="bi bi-gear"></i>
          <span>Bengkelku</span>
     </a>
     </li>

     <!-- Nav Item - SUPPLIER -->
     <li class='nav-item'>
          <a class='nav-link' href="{% url 'supplier' %}">
               <i class="bi bi-shop"></i>
               <span>Supplier</span>
          </a>
     </li>


     <!-- Nav Item - PENAWARAN -->
     <li class='nav-item'>
          <a class='nav-link' href="{% url 'penawaran' request.user.id %}">
               <i class="bi bi-chat-dots"></i>
               <span>Penawaran </span>
          </a>
     </li>


{% elif user.role == "SP" %}
     <!-- Nav Item - Bengkel -->
     <li class='nav-item'> 
     <a class='nav-link' href="{% url 'ProductView' %}">
          <i class="bi bi-box"></i>
          <span>Produk</span>
     </a>
     </li>
     <li class='nav-item'>
     <a class='nav-link' href=" {% url 'BrandView' %} ">
          <i class="bi bi-award"></i>
          <span>Brand</span>
     </a>
     </li>
     <li class='nav-item'>
     <a class='nav-link' href=" {% url 'CategoryView' %} ">
          <i class="bi bi-tag"></i>
          <span>Kategori</span>
     </a>
     </li>

     <!-- Nav Item - TRANSAKSI -->
     <li class='nav-item'>
          <a class='nav-link' href="{% url 'transaksi' %}">
               <i class="bi bi-bag"></i>
               <span>Transaksi</span>
          </a>
     </li>


     <!-- Nav Item - PENAWARAN -->
     <li class='nav-item'>
          <a class='nav-link' href="{% url 'penawaran' request.user.id %}">
               <i class="bi bi-chat-dots"></i>
               <span>Penawaran</span>
          </a>
     </li>
{% endif %}

