{% extends 'baseDashboard.html' %}
{% load static %}
{% block title %} | Supplier {% endblock title %}

{% block sidebar %}
{% include "sidebarAdmin.html" %}
{% endblock sidebar %}



{% block body %}
<h1 class='h3 mt-4 text-gray-800'>Data Supplier</h1>
<table class="table table-striped table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">Nama Supplier</th>
      <th scope="col">Alamat</th>
      <th scope="col">Kontak</th>
      <th scope="col">Pemilik</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
     {% comment %} <p>{{tes[1]}}</p> {% endcomment %}
    {% for i in supplier %}
     <tr>
      <th scope="row">{{i.name}} </th>
      <td>{{i.address}}</td>
      <td>{{i.contact}}</td>
      <td>{{i.owner.name}}</td>
      <td>
          <a class="btn btn-light shadow" href="{% url 'supplierDetail' i.id %}">Info</a>
          {% comment %} <a class="btn btn-primary shadow mt-1" href="#">Hubungi</a> {% endcomment %}
     </td>
    </tr>
    {% endfor %}
</tbody>


</table>


{% endblock body%}